body{
    background-color: aqua;
}
.div1{
    background-color: aquamarine;
    width: 500px;
    height: 1000px;
    margin: auto;

}
img{
    width: 400px;
    border-radius: 20px;
    border: solid thick aqua;

}

